* {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}

#local-weather{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#favorites{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}