#favorite{
    width: 100%;
    margin: 10pt;
    display: flex;
    flex-direction: column;
}

#weather-container{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#left-block{
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10pt;
}

#right-block{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#city-name{
    font-size: 36pt;
}

#icon-temp{
    display: flex;
    flex-direction: row;
}

#temp{
    font-size: 25pt;
}

.info{
    font-size: 18pt;
    background: lightseagreen;
    margin: 2pt;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2pt 5pt 2pt 5pt;
}

#delete-button{
    height: max-content;
    width: max-content;
    align-self: center;
}